In [19]:
import pandas as pd
## configure pandas to display 3 digits after the .
pd.set_option('display.float_format', lambda x: '%.3f' % x)
## set the max number of rows to display without using the ....
pd.set_option('display.max_rows', 300)


import numpy as np

In [3]:
country_info = pd.read_csv('/Users/csstnns/Desktop/Python Data Course - Oct2020/Day 2/country_info.csv')

In [20]:
country_info

,country,continent,year,lifeExp,pop,gdpPercap,iso_alpha,iso_num
0,Afghanistan,Asia,1952,28.801,8425333,779.445,AFG,4
1,Afghanistan,Asia,1957,30.332,9240934,820.853,AFG,4
2,Afghanistan,Asia,1962,31.997,10267083,853.101,AFG,4
3,Afghanistan,Asia,1967,34.020,11537966,836.197,AFG,4
4,Afghanistan,Asia,1972,36.088,13079460,739.981,AFG,4
...,...,...,...,...,...,...,...,...
1699,Zimbabwe,Africa,1987,62.351,9216418,706.157,ZWE,716
1700,Zimbabwe,Africa,1992,60.377,10704340,693.421,ZWE,716
1701,Zimbabwe,Africa,1997,46.809,11404948,792.450,ZWE,716
1702,Zimbabwe,Africa,2002,39.989,11926563,672.039,ZWE,716
1703,Zimbabwe,Africa,2007,43.487,12311143,469.709,ZWE,716

In [44]:
%%time
my_pivot_table = pd.pivot_table(country_info, index=['continent','country'], 
               values=['lifeExp','pop','gdpPercap'],
                                aggfunc=[np.std,np.median,'mean'])

CPU times: user 69.5 ms, sys: 7.38 ms, total: 76.9 ms
Wall time: 85.7 ms

In [ ]:
## apply specific functions to specific columns
#my_pivot_table = pd.pivot_table(country_info, index=['continent','country'], 
#               values=['lifeExp','pop','gdpPercap'],
#                                aggfunc={'gdpPercap': np.std,
#                                         'pop':np.median,
#                                         'lifeExp':np.mean})

In [29]:
my_pivot_table

                                         std                          median  \
                                   gdpPercap lifeExp           pop gdpPercap
continent country
Africa    Algeria                   1310.338  10.340   8613355.344  4853.856
          Angola                    1165.900   4.005   2672280.585  3264.629
          Benin                      159.741   6.129   2105001.962  1138.502
          Botswana                  4178.137   5.929    471096.527  3883.000
          Burkina Faso               183.430   6.846   3247807.878   830.967
          Burundi                     99.330   3.175   1874538.370   454.759
          Cameroon                   419.590   5.468   4363640.082  1738.885
          Central African Republic   191.953   4.721   1072158.021  1013.383
          Chad                       230.548   4.888   2464303.849  1145.083
          Comoros                    298.334   8.132    182998.738  1229.028
          Congo, Dem. Rep.           257.993   2.869  16566210.879   727.145
          Congo, Rep.                822.383   4.879    975312.457  3371.620
          Cote d'Ivoire              416.376   4.421   5283531.068  1757.567
          Djibouti                   538.753   6.710    154990.060  2872.219
          Egypt                     1404.754  10.062  19665799.082  3144.612
          Equatorial Guinea         3665.250   5.600    116418.760   943.196
          Eritrea                    170.035   6.904   1185915.907   517.729
          Ethiopia                    96.428   5.627  18535274.261   523.086
          Gabon                     4905.060   8.933    356404.480 12193.061
          Gambia                     119.058  10.546    466407.728   663.105
          Ghana                      145.829   5.847   5776407.643  1024.404
          Guinea                     137.211   7.743   2504846.504   799.960
          Guinea-Bissau              169.760   4.937    313291.696   725.998
          Kenya                      207.544   5.596   9971073.261  1277.564
          Lesotho                    404.233   5.914    488487.732   759.681
          Liberia                     98.988   2.419    726030.430   615.072
          Libya                     6508.829  11.372   1707794.248 10705.364
          Madagascar                 300.798   7.298   4710772.176  1372.945
          Malawi                     123.000   4.607   3598828.081   608.713
          Mali                       184.298   6.809   2591012.759   651.093
          Mauritania                 314.651   8.057    737419.738  1451.377
          Mauritius                 2981.784   6.497    237493.395  3699.510
          Morocco                    741.965   9.806   7919829.539  2536.620
          Mozambique                 128.875   4.599   4457508.772   498.953
          Namibia                    658.472   6.304    562803.035  3799.116
          Niger                      171.549   6.509   3094078.751   785.388
          Nigeria                    342.762   4.021  33876389.228  1596.130
          Reunion                   1543.325   8.435    171005.649  5157.439
          Rwanda                     142.230   6.307   2181339.702   633.777
          Sao Tome and Principe      315.916   6.284     45906.143  1406.809
          Senegal                    105.399   9.142   3195291.483  1540.702
          Sierra Leone               278.164   3.938   1270944.686  1092.668
          Somalia                    191.278   4.504   2159472.555  1156.278
          South Africa              1313.598   5.456  11304595.702  7595.067
          Sudan                      321.753   6.928  11295141.950  1729.167
          Swaziland                 1159.958   6.563    321256.624  3667.217
          Tanzania                   116.004   3.602  10127002.974   840.020
          Togo                       280.833   7.247   1493490.517  1050.917
          Tunisia                   1799.837  10.701   2370108.787  3340.555
          Uganda                     133.101   3.747   7532106.374   795.465
          Zambia                     247.495   4.453   3096948.736  1291.584
          Zimbabwe                   133.689   7.072   3376895.174   678.813
Americas  Argentina                 1862.583   4.186   7546608.989  9068.784
          Bolivia                    524.749   9.083   2082914.958  2971.016
          Brazil                    2436.454   7.039  45747618.442  6805.201
          Canada                    8210.113   3.953   5940792.549 22494.838
          Chile                     3026.194   8.671   3333125.568  5300.339
          Colombia                  1652.931   6.977  10535047.083  4106.692
          Costa Rica                2018.533   7.404   1090414.203  5446.325
          Cuba                      1127.781   6.023   1854709.949  5891.221
          Dominican Republic        1373.906   8.621   2291310.474  2771.541
          Ecuador                   1435.152   9.039   3549023.583  6127.411
          El Salvador                804.701   8.799   1575965.949  4401.414
          Guatemala                  992.216   9.594   3062764.842  4342.968
          Haiti                      266.449   7.203   1663698.255  1690.672
          Honduras                   453.586   9.899   1979896.309  3052.396
          Jamaica                   1343.472   4.447    442525.831  6500.717
          Mexico                    2770.812   8.192  26954820.635  8181.543
          Nicaragua                 1044.602  10.049   1528207.108  3284.890
          Panama                    2139.351   6.547    768969.548  5991.496
          Paraguay                   971.543   2.861   1680388.693  3516.024
          Peru                      1056.660   9.569   7053307.633  5873.684
          Puerto Rico               5652.978   3.984    622713.274 10050.757
          Trinidad and Tobago       3944.473   3.505    165523.467  7379.794
          United States             9695.058   3.344  45790185.636 24541.096
          Uruguay                   1612.259   3.343    368526.989  6712.281
          Venezuela                 1476.391   6.110   7067984.956 10024.540
Asia      Afghanistan                108.203   5.099   7114583.474   803.483
          Bahrain                   5415.413   8.572    210893.262 18779.802
          Bangladesh                 235.080   9.028  34711660.690   703.764
          Cambodia                   360.255   8.931   3053246.427   574.724
          China                     1370.628  10.250 264394872.832   851.829
          Hong Kong, China         12207.330   6.691   1615040.810 12873.336
          India                      570.248   9.257 251724253.318   834.530
          Indonesia                  996.511  11.458  49157535.980  1449.788
          Iran                      2954.184   8.976  19416535.618  7421.994
          Iraq                      4150.266   5.740   7250266.740  7285.536
          Israel                    6901.749   4.828   1610254.730 14336.824
          Japan                    10131.613   6.495  14889878.368 17997.241
          Jordan                    1023.916  10.467   1859372.868  3141.973
          Korea, Dem. Rep.          1226.506   6.803   5118303.793  1917.149
          Korea, Rep.               7699.804  10.075   9797922.589  5140.082
          Kuwait                   33882.140   7.700    783682.319 53286.233
          Lebanon                   1751.508   4.849    812785.196  7188.596
          Malaysia                  3749.837   8.608   5990940.325  4374.139
          Mongolia                   664.748   7.959    729439.248  1716.457
          Myanmar                    175.402   8.326   9626165.746   378.000
          Nepal                      185.401   9.582   6673251.077   706.243
          Oman                      7651.501  14.099    909787.104 12401.567
          Pakistan                   634.985   7.326  43052702.026  1309.676
          Philippines                545.228   7.613  22869649.428  2234.480
          Saudi Arabia              8754.387  11.878   8374426.334 20892.476
          Singapore                14926.148   6.183   1090842.481 13189.625
          Sri Lanka                  934.690   4.535   4158368.728  1498.428
          Syria                      908.220  10.074   5314789.430  3156.129
          Taiwan                    9482.608   6.030   4962817.654  6511.437
          Thailand                  2325.900   6.361  15156143.078  2177.222
          Vietnam                    567.482  12.172  20525848.300   742.793
          West Bank and Gaza        1716.841  11.000   1023056.734  3408.120
          Yemen, Rep.                609.939  11.019   5590408.436  1854.631
Europe    Albania                   1192.352   6.323    828585.542  3253.238
          Austria                   9655.281   4.380    437659.982 20673.253
          Belgium                   8391.186   3.780    520635.933 20048.910
          Bosnia and Herzegovina    1950.522   6.662    543112.830  3194.326
          Bulgaria                  2351.964   3.553    607579.741  6450.059
          Croatia                   3784.409   4.209    216541.175  9519.847
          Czech Republic            4361.647   2.727    394680.013 14548.591
          Denmark                   8305.078   2.220    352059.870 21055.471
          Finland                   8360.171   4.303    358939.600 17069.290
          France                    7903.234   4.305   6086808.679 19293.266
          Germany                   8076.262   3.873   4341644.086 21272.227
          Greece                    7289.929   4.432   1036629.381 14731.973
          Hungary                   3620.182   2.500    354481.780 11105.233
          Iceland                   9373.246   3.027     48541.684 21462.285
          Ireland                  11573.311   3.618    428289.539 11884.651
          Italy                     8273.523   4.878   3601411.134 15396.734
          Montenegro                2848.955   5.899     99737.939  6780.267
          Netherlands               8918.866   2.486   2005630.561 21304.260
          Norway                   13421.947   2.424    410795.489 24804.992
          Poland                    3198.351   3.860   4488220.096  8229.019
          Portugal                  6222.545   6.175    681823.122 10963.164
          Romania                   2425.974   3.162   2165460.612  7615.954
          Serbia                    3829.907   4.907   1192153.348  8658.388
          Slovak Republic           3650.231   2.716    642509.591 10298.416
          Slovenia                  6470.288   3.678    202207.727 14745.873
          Spain                     8046.635   5.156   4323927.602 13581.546
          Sweden                    7723.248   3.004    636565.982 19761.553
          Switzerland               6886.463   4.012    858200.910 27796.414
          Turkey                    2049.665   9.031  16677684.329  4255.239
          United Kingdom            7388.189   3.379   3174338.563 17830.586
Oceania   Australia                 7815.405   4.148   3915202.965 18905.603
          New Zealand               4409.009   3.560    654710.832 16933.064

                                                              mean          \
                                   lifeExp           pop gdpPercap lifeExp
continent country
Africa    Algeria                   59.691  18593278.500  4426.026  59.030
          Angola                    39.694   6589529.500  3607.101  37.883
          Benin                     50.047   3404935.000  1155.395  48.780
          Botswana                  52.927    875909.500  5031.504  54.597
          Burkina Faso              47.130   6262085.000   843.991  44.694
          Burundi                   45.031   4207412.500   471.663  44.817
          Cameroon                  49.605   8605348.000  1774.634  48.129
          Central African Republic  44.099   2322252.000   958.785  43.867
          Chad                      48.450   4631689.000  1165.454  46.774
          Comoros                   51.936    326691.000  1314.380  52.382
          Congo, Dem. Rep.          45.257  28563682.500   648.343  44.544
          Congo, Rep.               53.938   1655752.000  3312.788  52.502
          Cote d'Ivoire             48.160   8242762.500  1912.825  48.436
          Djibouti                  47.665    267342.500  2697.833  46.381
          Egypt                     54.663  42232837.000  3074.031  56.243
          Equatorial Guinea         42.843    281543.000  2469.167  42.960
          Eritrea                   44.338   2574969.500   541.003  45.999
          Ethiopia                  44.713  36364777.500   509.115  44.476
          Gabon                     54.677    730120.500 11529.865  51.221
          Gambia                    43.711    661898.500   680.133  44.401
          Ghana                     52.750  10969215.500  1044.582  52.341
          Guinea                    41.827   4468761.500   776.067  43.240
          Guinea-Bissau             38.396    785607.500   652.157  39.210
          Kenya                     53.834  16080928.000  1200.416  52.681
          Lesotho                   49.130   1331665.500   780.553  50.007
          Liberia                   42.417   1808295.500   604.814  42.476
          Libya                     59.799   3032928.500 12013.579  59.304
          Madagascar                47.925   8589321.500  1335.595  47.771
          Malawi                    44.388   6070035.500   575.447  43.352
          Mali                      42.815   6744952.500   673.093  43.413
          Mauritania                52.225   1539412.000  1356.671  52.302
          Mauritius                 65.821    952532.500  4768.942  64.953
          Morocco                   57.690  19297835.500  2447.909  57.609
          Mozambique                42.288  11857545.500   542.278  40.380
          Namibia                   53.387   1038018.000  3675.582  53.491
          Niger                     41.944   6059637.000   781.077  44.559
          Nigeria                   45.170  67624274.500  1488.309  43.581
          Reunion                   68.475    504952.500  4898.398  66.644
          Rwanda                    43.716   5082318.500   675.669  41.482
          Sao Tome and Principe     59.451     92694.500  1382.782  57.896
          Senegal                   50.629   5704319.000  1533.122  50.626
          Sierra Leone              37.560   3302709.500  1072.819  36.769
          Somalia                   41.474   5091279.000  1140.793  40.989
          South Africa              53.531  29134980.500  7247.431  53.993
          Sudan                     49.069  18736019.500  1835.010  48.401
          Swaziland                 48.093    600663.000  3163.352  49.002
          Tanzania                  49.059  18486973.500   849.281  47.912
          Togo                      54.179   2476673.500  1153.820  51.499
          Tunisia                   61.943   6369579.500  3477.210  60.721
          Uganda                    48.438  12198579.000   810.384  47.619
          Zambia                    46.062   5658478.500  1358.199  45.996
          Zimbabwe                  53.176   7139315.500   635.858  52.663
Americas  Argentina                 69.212  28162601.000  8955.554  69.060
          Bolivia                   51.941   5360970.000  2961.229  52.505
          Brazil                    62.413 121638445.000  5829.317  62.239
          Canada                    74.985  24499150.000 22410.746  74.903
          Chile                     68.808  11043452.500  6703.289  67.431
          Colombia                  65.245  26429528.000  4195.343  63.898
          Costa Rica                72.100   2266412.000  5448.611  70.181
          Cuba                      73.183   9663606.000  6283.259  71.045
          Dominican Republic        62.757   5635574.500  2844.856  61.554
          Ecuador                   62.826   7822358.000  5733.625  62.817
          El Salvador               57.452   4378729.500  4431.847  59.633
          Guatemala                 57.083   6049530.000  4015.403  56.729
          Haiti                     50.692   5053476.500  1620.739  50.165
          Honduras                  59.156   3362341.500  2834.413  57.921
          Jamaica                   70.660   2227561.500  6197.645  68.749
          Mexico                    66.219  67700440.000  7724.113  65.409
          Nicaragua                 58.384   2767010.500  3424.656  58.349
          Panama                    69.576   1938043.500  5754.827  67.802
          Paraguay                  66.614   3175466.500  3239.607  66.809
          Peru                      59.927  17057614.000  5613.844  58.859
          Puerto Rico               73.595   3179914.500 10863.164  72.739
          Trinidad and Tobago       68.566   1047808.500  7866.872  66.828
          United States             74.015 226213417.500 26261.151  73.478
          Uruguay                   70.143   2913758.500  7100.133  70.782
          Venezuela                 68.007  14562164.500 10088.516  66.581
Asia      Afghanistan               39.146  13473708.500   802.675  37.479
          Bahrain                   67.322    337688.500 18077.664  65.606
          Bangladesh                48.466  86751356.000   817.559  49.834
          Cambodia                  48.186   7361545.500   675.368  47.903
          China                     64.746 971868000.000  1488.308  61.785
          Hong Kong, China          74.525   4924100.000 16228.701  73.493
          India                     55.402 671000000.000  1057.296  53.166
          Indonesia                 54.430 145034000.000  1741.365  54.336
          Iran                      58.661  39276715.000  7376.583  58.637
          Iraq                      57.929  13028117.000  7811.809  56.582
          Israel                    73.755   3677169.500 14160.936  73.646
          Japan                     76.245 116163723.500 17750.870  74.827
          Jordan                    62.436   2142341.500  3128.121  59.786
          Korea, Dem. Rep.          66.910  16986419.000  2591.853  63.607
          Korea, Rep.               65.945  37881000.000  8217.318  65.001
          Kuwait                    70.326   1279226.000 65332.910  68.922
          Lebanon                   66.541   3088114.500  7269.216  65.866
          Malaysia                  66.628  13643648.500  5406.038  64.280
          Mongolia                  56.490   1642016.000  1692.805  55.890
          Myanmar                   57.057  33104264.500   439.333  53.322
          Nepal                     48.171  14864756.000   782.729  48.986
          Oman                      60.047   1152790.500 12138.562  58.443
          Pakistan                  55.100  84807387.000  1439.271  54.882
          Philippines               61.071  50153868.000  2174.771  60.967
          Saudi Arabia              60.851   9691588.500 20261.744  58.679
          Singapore                 71.278   2488584.500 17425.382  71.220
          Sri Lanka                 67.353  14763493.500  1854.731  66.526
          Syria                     62.892   8671498.500  3009.288  61.346
          Taiwan                    71.375  17643293.000 10224.807  70.337
          Thailand                  63.545  46487722.500  3045.966  62.200
          Vietnam                   57.290  53337843.500  1017.713  57.479
          West Bank and Gaza        62.586   1343483.500  3759.997  60.329
          Yemen, Rep.               46.644   9030804.000  1569.275  46.780
Europe    Albania                   69.675   2644572.500  3255.367  68.433
          Austria                   72.675   7571521.500 20411.916  73.103
          Belgium                   73.365   9839051.500 19900.758  73.642
          Bosnia and Herzegovina    70.275   3952500.000  3484.779  67.708
          Bulgaria                  70.855   8188141.500  6384.055  69.744
          Croatia                   70.550   4366020.500  9331.712  70.056

In [27]:
my_pivot_table.columns

MultiIndex([(   'std', 'gdpPercap'),
            (   'std',   'lifeExp'),
            (   'std',       'pop'),
            ('median', 'gdpPercap'),
            ('median',   'lifeExp'),
            ('median',       'pop'),
            (  'mean', 'gdpPercap'),
            (  'mean',   'lifeExp'),
            (  'mean',       'pop')],
           )

In [47]:
for value in my_pivot_table.index:
    print(value[0], value[1])

Africa Algeria
Africa Angola
Africa Benin
Africa Botswana
Africa Burkina Faso
Africa Burundi
Africa Cameroon
Africa Central African Republic
Africa Chad
Africa Comoros
Africa Congo, Dem. Rep.
Africa Congo, Rep.
Africa Cote d'Ivoire
Africa Djibouti
Africa Egypt
Africa Equatorial Guinea
Africa Eritrea
Africa Ethiopia
Africa Gabon
Africa Gambia
Africa Ghana
Africa Guinea
Africa Guinea-Bissau
Africa Kenya
Africa Lesotho
Africa Liberia
Africa Libya
Africa Madagascar
Africa Malawi
Africa Mali
Africa Mauritania
Africa Mauritius
Africa Morocco
Africa Mozambique
Africa Namibia
Africa Niger
Africa Nigeria
Africa Reunion
Africa Rwanda
Africa Sao Tome and Principe
Africa Senegal
Africa Sierra Leone
Africa Somalia
Africa South Africa
Africa Sudan
Africa Swaziland
Africa Tanzania
Africa Togo
Africa Tunisia
Africa Uganda
Africa Zambia
Africa Zimbabwe
Americas Argentina
Americas Bolivia
Americas Brazil
Americas Canada
Americas Chile
Americas Colombia
Americas Costa Rica
Americas Cuba
Americas Dominican Republic
Americas Ecuador
Americas El Salvador
Americas Guatemala
Americas Haiti
Americas Honduras
Americas Jamaica
Americas Mexico
Americas Nicaragua
Americas Panama
Americas Paraguay
Americas Peru
Americas Puerto Rico
Americas Trinidad and Tobago
Americas United States
Americas Uruguay
Americas Venezuela
Asia Afghanistan
Asia Bahrain
Asia Bangladesh
Asia Cambodia
Asia China
Asia Hong Kong, China
Asia India
Asia Indonesia
Asia Iran
Asia Iraq
Asia Israel
Asia Japan
Asia Jordan
Asia Korea, Dem. Rep.
Asia Korea, Rep.
Asia Kuwait
Asia Lebanon
Asia Malaysia
Asia Mongolia
Asia Myanmar
Asia Nepal
Asia Oman
Asia Pakistan
Asia Philippines
Asia Saudi Arabia
Asia Singapore
Asia Sri Lanka
Asia Syria
Asia Taiwan
Asia Thailand
Asia Vietnam
Asia West Bank and Gaza
Asia Yemen, Rep.
Europe Albania
Europe Austria
Europe Belgium
Europe Bosnia and Herzegovina
Europe Bulgaria
Europe Croatia
Europe Czech Republic
Europe Denmark
Europe Finland
Europe France
Europe Germany
Europe Greece
Europe Hungary
Europe Iceland
Europe Ireland
Europe Italy
Europe Montenegro
Europe Netherlands
Europe Norway
Europe Poland
Europe Portugal
Europe Romania
Europe Serbia
Europe Slovak Republic
Europe Slovenia
Europe Spain
Europe Sweden
Europe Switzerland
Europe Turkey
Europe United Kingdom
Oceania Australia
Oceania New Zealand

### Multi-index slicing .. selection

In [45]:
## multi-index slicing .. selection
my_pivot_table.loc['Americas','median'].loc['Canada','pop']

24499150.0

In [36]:
america_table = my_pivot_table.loc['Americas','median']

In [43]:
## write this to a csv file
america_table.to_csv('/Users/csstnns/Desktop/Python Data Course - Oct2020/Day 2/americas_table.csv', index=False)

In [42]:
america_table

                     gdpPercap  lifeExp           pop
country
Argentina             9068.784   69.212  28162601.000
Bolivia               2971.016   51.941   5360970.000
Brazil                6805.201   62.413 121638445.000
Canada               22494.838   74.985  24499150.000
Chile                 5300.339   68.808  11043452.500
Colombia              4106.692   65.245  26429528.000
Costa Rica            5446.325   72.100   2266412.000
Cuba                  5891.221   73.183   9663606.000
Dominican Republic    2771.541   62.757   5635574.500
Ecuador               6127.411   62.826   7822358.000
El Salvador           4401.414   57.452   4378729.500
Guatemala             4342.968   57.083   6049530.000
Haiti                 1690.672   50.692   5053476.500
Honduras              3052.396   59.156   3362341.500
Jamaica               6500.717   70.660   2227561.500
Mexico                8181.543   66.219  67700440.000
Nicaragua             3284.890   58.384   2767010.500
Panama                5991.496   69.576   1938043.500
Paraguay              3516.024   66.614   3175466.500
Peru                  5873.684   59.927  17057614.000
Puerto Rico          10050.757   73.595   3179914.500
Trinidad and Tobago   7379.794   68.566   1047808.500
United States        24541.096   74.015 226213417.500
Uruguay               6712.281   70.143   2913758.500
Venezuela            10024.540   68.007  14562164.500

In [49]:

## load the data into a pandas DataFrame object
cars = pd.read_csv('/Users/csstnns/Desktop/Python Data Course - Oct2020/Day 2/mtcars.csv')

### Random Sample from your data

In [64]:
## get a random sample by using fraction or n
## as ever, please read the documnetation
cars.sample(frac = 1)

,Unnamed: 0,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
1,Mazda RX4 Wag,21.000,6,160.000,110,3.900,2.875,17.020,0,1,4,4
23,Camaro Z28,13.300,8,350.000,245,3.730,3.840,15.410,0,0,3,4
10,Merc 280C,17.800,6,167.600,123,3.920,3.440,18.900,1,0,4,4
18,Honda Civic,30.400,4,75.700,52,4.930,1.615,18.520,1,1,4,2
6,Duster 360,14.300,8,360.000,245,3.210,3.570,15.840,0,0,3,4
8,Merc 230,22.800,4,140.800,95,3.920,3.150,22.900,1,0,4,2
4,Hornet Sportabout,18.700,8,360.000,175,3.150,3.440,17.020,0,0,3,2
13,Merc 450SLC,15.200,8,275.800,180,3.070,3.780,18.000,0,0,3,3
28,Ford Pantera L,15.800,8,351.000,264,4.220,3.170,14.500,0,1,5,4
27,Lotus Europa,30.400,4,95.100,113,3.770,1.513,16.900,1,1,5,2
7,Merc 240D,24.400,4,146.700,62,3.690,3.190,20.000,1,0,4,2
3,Hornet 4 Drive,21.400,6,258.000,110,3.080,3.215,19.440,1,0,3,1
17,Fiat 128,32.400,4,78.700,66,4.080,2.200,19.470,1,1,4,1
25,Fiat X1-9,27.300,4,79.000,66,4.080,1.935,18.900,1,1,4,1
19,Toyota Corolla,33.900,4,71.100,65,4.220,1.835,19.900,1,1,4,1
2,Datsun 710,22.800,4,108.000,93,3.850,2.320,18.610,1,1,4,1
5,Valiant,18.100,6,225.000,105,2.760,3.460,20.220,1,0,3,1
20,Toyota Corona,21.500,4,120.100,97,3.700,2.465,20.010,1,0,3,1
24,Pontiac Firebird,19.200,8,400.000,175,3.080,3.845,17.050,0,0,3,2
12,Merc 450SL,17.300,8,275.800,180,3.070,3.730,17.600,0,0,3,3
0,Mazda RX4,21.000,6,160.000,110,3.900,2.620,16.460,0,1,4,4
31,Volvo 142E,21.400,4,121.000,109,4.110,2.780,18.600,1,1,4,2
30,Maserati Bora,15.000,8,301.000,335,3.540,3.570,14.600,0,1,5,8
14,Cadillac Fleetwood,10.400,8,472.000,205,2.930,5.250,17.980,0,0,3,4
26,Porsche 914-2,26.000,4,120.300,91,4.430,2.140,16.700,0,1,5,2
11,Merc 450SE,16.400,8,275.800,180,3.070,4.070,17.400,0,0,3,3
9,Merc 280,19.200,6,167.600,123,3.920,3.440,18.300,1,0,4,4
22,AMC Javelin,15.200,8,304.000,150,3.150,3.435,17.300,0,0,3,2
21,Dodge Challenger,15.500,8,318.000,150,2.760,3.520,16.870,0,0,3,2
15,Lincoln Continental,10.400,8,460.000,215,3.000,5.424,17.820,0,0,3,4
16,Chrysler Imperial,14.700,8,440.000,230,3.230,5.345,17.420,0,0,3,4
29,Ferrari Dino,19.700,6,145.000,175,3.620,2.770,15.500,0,1,5,6

In [59]:
my_sample.reset_index(drop=True, inplace=True)

,Unnamed: 0,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.000,6,160.000,110,3.900,2.620,16.460,0,1,4,4
1,Maserati Bora,15.000,8,301.000,335,3.540,3.570,14.600,0,1,5,8
2,Toyota Corolla,33.900,4,71.100,65,4.220,1.835,19.900,1,1,4,1
3,Merc 240D,24.400,4,146.700,62,3.690,3.190,20.000,1,0,4,2
4,Ford Pantera L,15.800,8,351.000,264,4.220,3.170,14.500,0,1,5,4